<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:label="日語學習 N5-App"
        android:supportsRtl="true"
        android:theme="@style/Theme.N5App">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ListActivity"
            android:exported="false"/>
        <activity
            android:name=".DetailActivity"
            android:exported="false"/>
        <activity
            android:name=".CrashActivity"
            android:exported="false"
            android:theme="@style/Theme.N5App"/>
    </application>

</manifest>
